{% extends 'base.html' %}

<title>{% block title %}{{user.username}}'s Profile{% endblock %}</title>

{% block content %}
    <div class="main-content">
        <div class="page-header">
            <h1>{{user.username}}</h1>
            <h2>Welcome to your profile</h2>
            <a href="{% url 'edit_profile' user.username %}">Edit Profile</a>
        </div>

        <div class="page-content">
            <h1>Completed Books</h1>
                {% for book in finished_reading %}
                    <div class="card">
                        <h1>{{book.title}}</h1>
                        <h2>{{book.author}}</h2>
                        <h2>{{book.rating}}</h2>
                        <h2>{{book.category}}</h2>
                        <a href="{% url 'book_details' book.id %}">View Book</a>
                    </div>
                {% endfor %}
            <h2>Still Reading</h2>
                {% for book in currently_reading %}
                    <div class="card">
                        <h1>{{book.title}}</h1>
                        <h2>{{book.author}}</h2>
                        <h2>{{book.rating}}</h2>
                        <a href="{% url 'book_details' book.id %}">View Book</a>
                        <h2>{{book.category}}</h2>
                    </div>
                {% endfor %}
        </div>
    </div>

{% endblock %}
